.add-product {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.add-product__card {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 610px;
    margin-bottom: 0;
  }
}

.add-product__title {
  margin: 0;
  margin-bottom: 14px;
  font-family: $Oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $asphalt;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    flex-basis: 163px;
  }
}

.add-product__characteristics {
  margin-bottom: 15px;
  font-family: $Arial;
  font-size: 14px;
  line-height: 14px;
  color: $light-asphalt;
  border-collapse: collapse;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
    max-width: 470px;
  }

  @media (min-width: $desktop-width) {
    max-width: 286px;
  }
}

.add-product__characteristic td {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-top: 3px;
  }
}

.add-product__volume {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    text-align: right;
    padding-top: 10px;
  }
}

.add-product__price {
  text-align: right;

  @media (min-width: $tablet-width) {
    width: 93px;
  }
}

.add-product__order {
  box-sizing: border-box;
  padding: 10px;

  @media (min-width: $desktop-width) {
    min-width: 244px;
  }
}
