.add-product__title {
  font-family: $Oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $asphalt;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.add-product__characteristics {
  font-family: $Arial;
  font-size: 14px;
  line-height: 14px;
  color: $light-asphalt;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.add-product__volume {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    text-align: right;
  }
}

.add-product__price {
  text-align: right;
}
