.additional-products__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 28px;
  padding-bottom: 35px;
  box-sizing: border-box;
  width: 320px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    width: $desktop-width;
  }
}

.additional-products__list-promo {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
  }
}

.additional-products__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 33px;
  padding-right: 22px;
  font-family: $Oswald;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  position: relative;
  background-color: $white;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 7px;
    padding-left: 37px;
    padding-right: 36px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    margin-left: -40px;
    padding-top: 24px;
  }
}

.additional-products {
  position: relative;
}

.additional-products::before {
  content: "";
  width: 50%;
  height: 2px;
  background-color: $green;
  position: absolute;
  top: 42px;
  right: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    top: 29px;
  }

  @media (min-width: $desktop-width) {
    top: 47px;
  }
}

.additional-products__list {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  list-style: none;
  border-top: 1px solid $dark-silver;

  @media (min-width: $tablet-width) {
    border: 1px solid $dark-silver;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 895px;
    border: 0;
    border-top: 1px solid $dark-silver;
    margin-bottom: 0;
    padding-top: 5px;
  }
}

.additional-products__promo {
  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 245px;
    margin-bottom: 0;
  }
}

.additional-products__item {
  padding-top: 13px;
  padding-bottom: 17px;
  border-bottom: 1px solid $dark-silver;

  @media (min-width: $tablet-width) {
    padding: 27px 38px;
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
