.button {
  background-color: $green;
  font-family: $Oswald;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}

.button--product {
  background-color: $light-grey;
  color: $light-asphalt;

  &:hover {
    background-color: $superlight-whitesmoke;
  }

  &:active {
    color: rgba($light-asphalt, 0.3);
  }
}
