.catalog__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  width: 320px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    width: $desktop-width;
  }
}

.catalog__title {
  margin: 0 -20px;
  padding: 0 20px;
  padding-top: 27px;
  padding-bottom: 40px;
  border-top: 1px solid $silver;
  border-bottom: 1px solid $superlight-whitesmoke;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    padding-top: 37px;
    padding-bottom: 85px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
    padding-bottom: 70px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__item {
  margin: 0 -20px;
  padding: 0 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid $superlight-whitesmoke;

  @media (min-width: $tablet-width) {
    flex-basis: 324px;
    margin: 0;
    margin-right: 60px;
    margin-bottom: 61px;
    padding: 0;
    padding-bottom: 40px;
    box-sizing: border-box;
    border: none;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 245px;
    margin-right: 80px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 42px;
  }
}

.catalog__item:nth-of-type(2n) {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    margin-right: 0;
  }
}

.catalog__item:nth-of-type(4n) {
  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.catalog__item--more {
  @media (max-width: $mobile-width-only) {
    @-moz-document url-prefix("") {
      padding-bottom: 26px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 95px;
  }
}
