.catalog__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    max-width: $desktop-width;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__item {
  @media (min-width: $tablet-width) {
    flex-basis: 324px;
    margin-right: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 245px;
    margin-right: 80px;
    margin-bottom: 63px;
  }
}

.catalog__item:nth-of-type(2n) {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    margin-right: 0;
  }
}

.catalog__item:nth-of-type(4n) {
  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}
