.copyright {
  font-family: $Arial;
  color: $light-asphalt;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:active {
    color: rgba($light-asphalt, 0.3);
  }
}

.copyright__name {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-right: 15px;
    // padding-bottom: 10px;
  }
}

.copyright__logo {
  fill: $super-light-asphalt;
}

.copyright:hover .copyright__logo {
  fill: $green;
}

.copyright:active .copyright__logo {
  opacity: 0.3;
}
