.example__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    max-width: $desktop-width;
    display: flex;
    justify-content: space-between;
  }
}

.example {
  background-color: $light-whitesmoke;
}

.example__title {
  margin: 0;
}

.example__text {
  @media (min-width: $desktop-width) {
    flex-basis: 440px;
  }
}

.example__image {
  @media (min-width: $desktop-width) {
    flex-basis: 690px;
  }
}

.example__statistics {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    display: flex;
    justify-content: space-between;
  }
}

.example__result {
  display: flex;
}

.example__result-item {
  flex-basis: 124px;
  margin-right: 31px;

  @media (min-width: $tablet-width) {
    flex-basis: 162px;
    margin-right: 42px;
  }
}

.example__result-item:nth-of-type(2n) {
  margin-right: 0;
}

.example__number {
  font-family: $Oswald;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__definition {
  font-family: $Arial;
  font-size: 12px;
  line-height: 12px;
  color: $light-asphalt;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__food-cost {
  font-family: $Oswald;
  font-size: 14px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    text-align: right;
    flex-basis: 180px;
  }
}

.example__button {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
