.form__fieldset {
  border: none;
}

.form__fieldset-name {
  font-family: $Oswald;
  font-size: 24px;
  line-height: 26px;
  color: $black;
}

.form__input-label {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 18px;
  color: $light-asphalt;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--radio {
    color: $asphalt;
  }

  &--checkbox {
    color: $black;
  }
}

.form__input-text::placeholder {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $light-asphalt;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input-comment {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $light-asphalt;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
