.main-intro {
  @media (max-width: $mobile-width-only) {
    background-color: $green;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.main-intro__slogan {
  font-family: $Oswald;
  font-size: 14px;
  line-height: 14px;
  color: $white;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
  }
}
