.main-title {
  font-family: $Oswald;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.main-title--index {
  @media (max-width: $mobile-width-only) {
    .main-title--index {
      color: $white;
      text-align: center;
    }
  }
}
