.main-nav__list {
  margin: 0;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    margin-top: 11px;
    margin-bottom: -10px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 15px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 66px;
  height: 66px;
  padding: 0;
  border: none;
  background-color: $white;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 20px;
  width: 24px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 20px;
  width: 25px;
  height: 2px;
  background-color: $black;
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 20px;
  width: 25px;
  height: 2px;
  background-color: $black;
  transform: rotate(-45deg);
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}
