.more-products__intro {
  font-family: $Oswald;
  line-height: 20px;
  color: $dark-asphalt;
  text-transform: uppercase;
  text-align: center;
}

.more-products__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
