.page-header__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 7px;
  padding-bottom: 13px;
  box-sizing: border-box;
  width: 320px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    padding-top: 26px;
    padding-bottom: 22px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    width: $desktop-width;
    padding-top: 55px;
    padding-bottom: 23px;
    position: relative;
    z-index: 2;
  }
}

.page-header__logo {
  @media (max-width: $mobile-width-only) {
    display: block;
    padding-top: 5px;
  }
}
