.page-footer__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  width: 320px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    padding-top: 55px;
    padding-bottom: 61px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 40px;
    width: $desktop-width;
  }
}

.page-footer {
  background-color: $light-grey;
}

.page-footer__logo-name {
  @media (max-width: $mobile-width-only) {
    justify-self: center;
    padding: 76px;
    padding-top: 39px;
    padding-bottom: 29px;
    border-bottom: 1px solid $silver;
  }
}

.page-footer__copyright {
  @media (max-width: $mobile-width-only) {
    padding: 22px 0;
  }

  @media (min-width: $tablet-width) {
    justify-self: end;
  }
}
