.partnership {
  display: flex;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.partnership__title {
  margin: 0;
  font-family: $Oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $dark-asphalt;
  text-transform: uppercase;
  flex-basis: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
    flex-basis: 160px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 3px;
  }
}

.partnership__address {
  margin: 0;
  font-family: $Arial;
  font-size: 14px;
  line-height: 20px;
  color: $light-asphalt;
  flex-basis: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    flex-basis: 155px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    text-align: right;
  }
}

.partnership__address br:first-of-type {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
