.program-choice__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    max-width: $desktop-width;
  }
}

.program-choice__description {
  font-family: $Oswald;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
