.program-choice__description {
  font-family: $Oswald;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-choice__add-info {
  font-family: $Arial;
  font-size: 14px;
  line-height: 16px;
  color: $black;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
