.social__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 125px;
  padding: 20px 77px;
  padding-left: 70px;
  border-bottom: 1px solid $silver;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
    margin-left: 50px;
    width: 120px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 135px;
  }
}

.social__icon {
  fill: $super-light-asphalt;

  &--vk {
    @media (min-width: $tablet-width) {
      width: 29px;
      height: 17px;
    }
  }

  &--ig {
    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    @media (min-width: $tablet-width) {
      width: 13px;
      height: 27px;
    }
  }
}

.social__link:hover .social__icon {
  fill: $green;
}

.social__link:active .social__icon {
  opacity: 0.3;
}
