// Colors

$black: #000000;
$white: #ffffff;
$red: #ff8282;

$light-grey: #f2f2f2;
$dark-grey: #bababa;

$green: #68b738;
$dark-green: #5eaa2f;

$superlight-whitesmoke: #ebebeb;
$light-whitesmoke: #eaeaea;
$whitesmoke: #e7e7e7;
$dark-whitesmoke: #e6e6e6;

$light-asphalt: #444444;
$asphalt: #222222;
$dark-asphalt: #111111;

$light-silver: #dcdcdc;
$silver: #d9d9d9;
$dark-silver: #cdcdcd;

// Font
$Arial: "Arial", sans-serif;
$Oswald: "Oswald", "Arial", sans-serif;

// Viewports
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
